$line-color : white;
$time-color : black;
$line-width : 3px;
$buttonbg : black;
$buttontext : white;
.LeftCard{
    width: 50vw;
    .card{
        border: $line-width solid $line-color;
        border-radius: 0;
        box-shadow: 10px 10px 0px 0px rgba(74,58,255,1);
        // margin-right: -2.1vw !important;
    }
    .topBorder{
        border-top: $line-width solid $line-color;
        width: 12vw;
        // margin-right : -5vw !important;
    }
    .timeBox{
        background-color: $line-color;
        color : $time-color;
        width: 10vw;
        margin-right: -6vw;
    }
    .title{
        text-align: left;
        margin-left: 14px;
        font-size: 30px;
        font-weight: 700;
    }
    .incentives{
        text-align: left;
        margin-left: 14px;
        font-size: 17px;
        font-weight: 500;
    }

    .buttonrow{
        margin-top: 10px;
    }

    .buttoncol{
        button{
            background-color: $buttonbg; /* Green */
            border: none;
            border-top: $line-width solid $line-color;
            border-radius: 0;
            color: $buttontext;
            padding: 8px 10px;
            text-align: center;
            text-decoration: none;
            width: 100%;
            height: 100%;
          font-size: 17px;
          font-weight: 600;
          margin: 0;
      }
      margin-bottom: 0;
      .leftborder{
        border-left: $line-width/2 solid $line-color;
      }
      .rightborder{
        border-right: $line-width/2 solid $line-color;
      }
    }

    //trivial classes
    .mzl{
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .mzr{
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
    .emptyspace{
        height: 60px !important;
    }
    .emptyspace2{
        height: 50px !important;
    }
    .whitetext{
        color : white;
    }
    @media(max-width : 991px){
        .topBorder{
            border-top: $line-width solid $line-color;
            width: 12vw;
            margin-left: -4vw !important;
        }
    }
}