$line-color : white;
$time-color : black;
$line-width : 3px;
$buttonbg : black;
$buttontext : white;
.RightCard{
    // width: 50vw;
    .card{
        border: $line-width solid $line-color;
        margin-left: -2.1vw;
        border-radius: 0;
        box-shadow: 10px 10px 0px 0px rgba(74,58,255,1);
    }
    .cardimage{
        width : 100%;
        height: auto;
    }
    .topBorder{
        border-top: $line-width solid $line-color;
        width: 12vw;
        margin-left: -5vw !important;
    }
    .timeBox{
        background-color: $line-color;
        color : $time-color;
        width : 10vw;
        margin-left: -6vw;
    }
    .title{
        text-align: left;
        margin-left: 14px;
        font-size: 30px;
        font-weight: 700;
    }
    .incentives{
        text-align: left;
        margin-left: 14px;
        font-size: 17px;
        font-weight: 500;
    }

    .buttonrow{
        margin-top: 10px;
    }
    .whitetext{
        color : white;
    }

    .buttoncol{
        button{
            background-color: $buttonbg; /* Green */
            border: none;
            border-top: $line-width solid $line-color;
            border-radius: 0;
            color: $buttontext;
            padding: 8px 10px;
            text-align: center;
            text-decoration: none;
            width: 100%;
            height: 100%;
          font-size: 17px;
          font-weight: 600;
          margin: 0;
      }
      margin-bottom: 0;
      .leftborder{
        border-left: $line-width/2 solid $line-color;
      }
      .rightborder{
        border-right: $line-width/2 solid $line-color;
      }
    }
    @media(max-width : 991px){
        .topBorder{
            border-top: $line-width solid $line-color;
            width: 12vw;
            margin-left: -4vw !important;
        }
    }

    //trivial classes
    .mzl{
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .mzr{
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
    .emptyspace{
        height: 60px !important;
    }
    .emptyspace2{
        height: 50px !important;
    }


    .smallscreens{
        max-width : 90%;
        position: relative;
        .imagebox{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            // border-right: 5px solid $line-color;
        }
        img{
            width: 100%;
            height: auto;
        }
        .card{
            border: $line-width solid $line-color;
            border-radius: 0;
        }


        .topBorder{
            border-top: $line-width solid $line-color;
            width: 12vw;
            margin-left: -2vw !important;
            position : absolute;
        }
        .timeBox{
            background-color: $line-color;
            color : $time-color;
            width : 80px;
            margin-left: -50px;
            z-index: 100;
            margin-right: 0 !important;
        }
        
        .title{
            text-align: left;
            margin-left: 5px;
            padding-right: 20px;
            font-size: 4vw;
            font-weight: 700;
        }
        .incentives{
            text-align: left;
            margin-left: 5px;
            padding-right: 20px;
            font-size: 3.2vw;
            font-weight: 500;
        }
    
        .buttonrow{
            margin-top: 10px;
        }
    
        .buttoncol{
            button{
                background-color: $buttonbg; /* Green */
                border: none;
                border-top: $line-width solid $line-color;
                border-radius: 0;
                color: $buttontext;
                padding: 8px;
                text-align: center;
                text-decoration: none;
                width: 100%;
                height: 100%;
              font-size: 3.1vw;
              font-weight: 600;
              margin: 0;
          }
          .buttontextcol{
            overflow-x: hidden;
            text-overflow: hidden;
            padding : 0 !important;
            margin: 0 !important;
          }
          margin-bottom: 0;
          .leftborder{
            border-left: $line-width/2 solid $line-color;
          }
          .rightborder{
            border-right: $line-width/2 solid $line-color;
          }
        }
        @media (min-width:374px) {
            .topBorder{
                width: 15vw !important;
                margin-left: -4vw !important;
            }
        }
        @media (min-width:462px) {
            .topBorder{
                margin-left: -6vw !important;
            }
            
        }
        @media (min-width:606px) {
            .topBorder{
                margin-left: -7.5vw !important;
            }
            .buttoncol{
                button{
                    font-size: 17px !important;
                }
            }
            .incentives{
                font-size: 17px !important;
            }
        }
    }
}