$line-color : #000000;
$line-width : 3px;
$heading-color : #000000;
.Timeline{
    padding-top: 10vh;
    .heading{
        font-size: 15vw;
        font-weight: 500;
        color: $heading-color;
    }
    
    .largescreens{
        .space2{
            height: 10vh;
        }
        .lineBox{
            border-right: $line-width solid $line-color;
            min-height: 60px;
            // width: 51vw;
        }
        .beginRect{
            font-size: 36px;
            font-weight: 700;
            color: $heading-color;
            border: $line-width solid $line-color;
            width: 300px;
            padding: 10px;
            margin : auto !important;
        }
        .space{
            height: 50vh;
        }
    }

    .smallscreens{
        .lineBox{
            border-left: $line-width solid $line-color;
            min-height: 60px;
            // width: 51vw;
        }
        .beginRect{
            font-size: 25px;
            font-weight: 700;
            color: $heading-color;
            border: $line-width solid $line-color;
            width: 300px;
            padding: 5px;
            margin-left: 30px;
            margin-right: 10px;
        }
        .space{
            height: 10vh;
        }
    }
}