.Profile{
    overflow-x: hidden;
    background-color: black;
    color: white;
    .ticketrow{
        background-color : white;
        margin : 4vh 6vw 7vh 6vw;
    }
    .qrimage{
        width : 20vw;
        height: auto;
        margin: 40px;
    }
    .qrcol{
        justify-content: center;
        display : flex;
        border-right : 3px dashed black;
    }
    .page_heading{
        font-size: 5vw;
        font-family: "Archivo";
        font-weight: 500;
        padding-left : 6vw;
        line-height: 5.5vw;
    }
    .arrowicon{
        height: 4vw;
        width: auto;
    }
    .YourProf{
        padding-left : 5.4vw;
        font-family: 'Archivo';
        font-style: normal;
        font-size: calc(3.5rem + 8vw);
        font-weight: 700;
        line-height: 0.95;
    }
    @media screen and (max-width: 577px) {
        .YourProf{
            padding-left : 5.4vw;
            font-family: 'Archivo';
            font-style: normal;
            font-size: calc(2.8rem + 7vw);
            font-weight: 700;
            line-height: 0.95;
            width: 100%;
        }
    }
    .arrowicon1{
        margin-left: 4vw ;
        height: 8.2vw ;
        margin-bottom: 1.8vw;
    }
}