.Profile{
    .logout{
        width : 60%;
        font-size: 20px;
    }
    .logoutrow{
        margin-bottom: 2vh;
        padding-bottom: 1vh;
    }
    overflow-x: hidden;
    background-color: black;
    color: white;
    .titledeets{
        // background-color: #fafafa;
        color :white;
        font-size: 20px;
        padding : 0% 5% 0% 6%;
        margin-bottom : 1.5vh;
        font-family: 'Poppins';
        font-weight: 500;
        // padding-left : 5.4vw;
    }
    .lasttitle{
        margin-bottom: 10vh;
    }
    .page_heading{
        font-size: 5vw;
        font-family: "Archivo";
        font-weight: 500;
        padding-left : 6vw;
        line-height: 5.5vw;
    }
    .arrowicon{
        height: 4vw;
        width: auto;
    }
    .slips{
        margin-top: 8vh;
        margin-bottom: 8vh;
        padding-top : 0.8px;
        padding-bottom : 0.1px;
        background: rgb(0,0,0);
        background: linear-gradient(274deg, rgba(0,0,0,1) 12%, rgba(221,221,221,1) 100%); 
    }
    @media(max-width : 567px){
        .page_heading{
            font-size: 9vw;
            line-height: 9vw;
        }
        .arrowicon{
            height: 7vw;
        }
    }
    .YourProf{
        padding-left : 5.4vw;
        font-style: normal;
        font-size: calc(3.5rem + 8vw);
        font-weight: 700;
        line-height: 0.7;
        z-index: 1;
    }
    .blue{
        font-family: 'Just Another Hand';
        color : #4a3aff;
        font-size: calc(5rem + 8vw);
        margin-top: 5vh;
        z-index : 2;
    }
    .bottomtitle{
        margin-top: -1vh !important;
    }
    @media screen and (max-width: 577px) {
        .YourProf{
            padding-left : 5.4vw;
            font-family: 'Archivo';
            font-style: normal;
            font-size: calc(2.5rem + 6vw);
            font-weight: 700;
            line-height: 0.95;
            width: 100%;
        }
    }
    .arrowicon1{
        margin-left: 4vw ;
        height: 10vw ;
        margin-bottom: 1.8vw;
    }
    @media(min-width : 1000px) {
        // .YourProf{
        //     font-size: 130px;
        // }
        .arrowicon1{
            height: 100px;
        }
        .titledeets{
            font-size: 30px;
        }
    }
}