@keyframes changebg{
    0%{
        background-image: url(../../images/herogif.gif);
        opacity: 100%;
    }
    100%{
        opacity : 20%;
    }
}
.titlecontainer{
    position: relative;
    width : 100%;
    height: fit-content;
    margin : 0 !important;
    padding : 0 !important;
    background-image: url(../../images/herobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.flicker{
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    margin : 0;
    padding : 0 ;
    height: 100vh;
    animation-name : changebg;
    animation-duration: 5s;
    background-image: url(../../images/herogif.gif);
    opacity : 15%;
}

.Title{
    z-index: 9;
    padding-top: 5vh;
    height: 100vh;
    min-height: fit-content;
    width : 100%;
    margin : 0 !important;
    
    .titlerow{
        color : white;
        font-size: 16vw;
        font-family: 'Barlow Condensed';
        font-weight: 700;
        line-height: 13vw;
        padding-left : 5vw;
        z-index: 10;
    }
    @media(max-width : 767px){
        padding-top: 13vh;
        .titlerow{
            font-size: 35vw;
            line-height: 30vw;
            padding-left: 10vw;
        }
    }
    .orange{
        color : #ff7c00;
    }
    @media(max-height : 680px ) and (max-width: 690px){
        padding-top: 5vh;
        .titlerow{
            font-size: 20vw;
            margin-top : 4vh;
            line-height: 15vw;
            padding-left: 10vw;
        }
    }
    @media (min-width : 770px) and (max-width : 964px){
        padding-top: 80px;
    }
}