.Title{
    height: 100vh;
    width : 100%;
    margin : 0 !important;
    background-image: url(../../images/mainbg.svg);
    object-fit: cover;
    .titlerow{
        color : white;
        font-size: 14vw;
        font-family: 'Barlow Condensed';
        font-weight: 700;
        // letter-spacing: 1vw;
        line-height: 14vw;
        padding-left : 5vw;
    }
    @media(max-width : 767px){
        .titlerow{
            font-size: 18vw;
        }
    }
}