.costDiv{
    margin-left: 2.7vw;
    background: #FFFFFF;
    width: 30%;
    text-align: center;
    font-size: 2.2vw;
}
@media screen and (max-width: 768px) {
    .costDiv{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 2.7vw;
        background: #FFFFFF;
        width: 20%;
        text-align: center;    
        font-size: 3.5vw;
    }
}
@media screen and (max-width: 488px) {
    .costDiv{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 2.7vw;
        background: #FFFFFF;
        width: 20%;
        text-align: center;    
        font-size: 4vw;
    }
}
@media screen and (max-width: 394px) {
    .costDiv{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 2.7vw;
        background: #FFFFFF;
        width: 20%;
        text-align: center;    
        font-size: 4.5vw;
    }
}
.line{
    background-color:blue;
}

#inputID{
    margin-left:15px;
    margin-top:15px;
    font-family: Poppins;
    font-weight:500;
    background-color:black;
    border-bottom-color: #FFFFFF;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    color:white;
}
#inputID::placeholder{
    color:white;

}
.button{
    background-color: white;
}

.clickk:hover{
    cursor: pointer;
}