.ContactPage{
    background-color: black;
    .Contact{
        color: white;
        font-size: calc(3.5rem + 8vw);
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
    }
    .US{
        color: #4A3AFF;
        font-family: 'Just Another Hand';
        font-style: normal;
        font-weight: 400;
        font-size: calc(8rem + 9vw);
        margin-left: 43vw;
        margin-top: -16vw;
    }
    .person{
        color: white;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
    }
    .extra{
        color: #AAAAAA;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
    }
}