.adjust{
    margin-top: 150px;
    width: 97%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-12.register{
    padding-left: 2.5vw;
}
.invert.a:hover{
    color: white;
}
.RegisterCard{
    margin-top: 100px;
}
.LeftCards{
    border: 3px solid white;
    -webkit-box-shadow: 8px 8px 0px 0px #4A3AFF
;
-moz-box-shadow: 8px 8px 0px 0px#4A3AFF
;
box-shadow: 8px 8px 0px 0px #4A3AFF
;
}

.val{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.Titl{
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.9vw;
    /* line-height: 46px; */
    margin-left: 2px;
    margin-top: 15px

}
.invert a:link {
    text-decoration: none;
    color: white;
  }
  
.invert a:visited {
    text-decoration: none;
    color: white;
  }
.invert .link:hover{
color: white;
}
.incen{
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    /* line-height: 42px; */
    padding-left: 4px;
    margin-top: 4px;
    padding-bottom: 15px;
}

.popup{
    
    transition-timing-function: ease-in-out;
    transition: 0.2s;
}
.popup:hover{
    transform: scale(1.1, 1.1);
    border: 3px solid white !important;
    background-color: black;
}



.regis{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
.weird{
    font-family: 'Just Another Hand';
    font-style: normal;
    font-weight: 400;
    font-size: calc(3.5rem + 8vw);
    line-height: 0.95;
    color: #4A3AFF !important;
    letter-spacing: 0.4vw;
    margin-top: 70px;
}
.weird1{
    font-size: calc(3.5rem + 8vw);
    margin-bottom: -3.6vw;
}
.awesome1{
    font-size: calc(3.5rem + 8vw);
}
.awesome{
    font-family: 'Archivo';
    font-style: normal;
    font-size: calc(3.5rem + 8vw);
    font-weight: 700;
    line-height: 0.95;
}

.arrowicon1{
    margin-left: 3.5vw ;
    height: 8vw ;
    margin-bottom: 2vw;
}
.values{
    border-top: 2px solid white;
    border-bottom:2px solid white ;
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    color: #FF5C00;
    font-size: 30px;
    margin-top: 60px;
    padding: 6px;
    white-space: nowrap;
}
@media screen and (min-width: 1000px) {
    .arrowicon1{
        height: 90px;
    }
}
@media screen and (min-width : 1200px) {
    .edge{
        border: 3px solid white;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        padding: 8px;
    }   
}
@media screen and (max-width: 1100px) {
    .Titl{
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 2.2vw;
       
    }
    .incen{
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 1.7vw;
    }
}
@media (max-width: 900px){
    .Titl{
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 2.8vw;
       
    }
    .incen{
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 2.2vw;
    }
    .col-12.register{
        padding-left: 4vw;
    }
}
/* @media screen and (max-width: 1250px) {
    .weird1{
        font-size: calc(3.5rem + 8vw);
        margin-bottom: -2vw;
    } 
} */
@media screen and (max-width: 850px){
    .weird1{
        font-size: calc(3.5rem + 8vw);
        margin-bottom: -4.6vw;
    } 
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .edge{
        border: 3px solid white;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding: 8px;
    } 
}
@media screen and (max-width: 767px) {
    .values{
        font-size: 25px;
        margin-top: 50px;
    }
    .RegisterCard{
        width: 90% !important;
    }
    .BigCard{
        display: none;
    }
    .SmallCard{
        margin-bottom: 60px;
        -webkit-box-shadow: 8px 8px 0px 0px #4A3AFF
        ;
        -moz-box-shadow: 8px 8px 0px 0px#4A3AFF
        ;
        box-shadow: 8px 8px 0px 0px #4A3AFF
        ;
    }
    .RegisterCard{
        margin-top: 70px;
    }
    .container.change{
        padding: 0px;
    }
    .edge{
        border: 3px solid white;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
    .edge1{
        border: 3px solid white;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        padding: 8px;
    
    }
    .col-6.edge1{
        padding-left: 30px;
    }
    .arrowpoint{
        margin-left: 20vw;
        margin-bottom: 2px;
    }
    .arrowpoint1{
        margin-left: 18vw;
        margin-bottom: 2px;
    }
    .adjust{
        margin-top: 120px;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .weird1{
        font-size: calc(2.8rem + 6vw);
        margin-bottom: -3.5vh;
    }
    .awesome1{
        font-size: calc(2.8rem + 6vw);
    }
    .Titl{
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
       
    }
    .incen{
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
    }
    .col-12.register{
        padding-left: 4.5vw;
    }
}
@media screen and (min-width: 768px) {
    .SmallCard{
        display : none;
    }

}
@media screen and (max-width: 992px) and (min-width: 768px){
    .RegisterCard{
        margin-top: 90px;
    }
    .adjust{
        margin-top: 150px;
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 576px) {
    .container.change{
        padding-left: 12px;
    }
    /* .row.marginchange{
        padding-left: 12px;
    } */
    .Titl{
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
    }
    .incen{
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
}
@media screen and (max-width: 510px) {
    .arrowpoint{
        margin-left: 16vw;
        margin-bottom: 2px;
    }
    .arrowpoint1{
        margin-left: 14vw;
        margin-bottom: 2px;
    }
}
@media screen and (max-width: 476px) {
    .arrowpoint{
        margin-left: 11.5vw;
        margin-bottom: 2px;
    }
    .arrowpoint1{
        margin-left: 9.5vw;
        margin-bottom: 2px;
    }
    .Titl{
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
       
    }
    .incen{
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
    }
}
@media screen and (max-width: 424px) {
    .arrowpoint{
        margin-left: 9.5vw;
        margin-bottom: 2px;
    }
    .arrowpoint1{
        margin-left: 7.7vw;
        margin-bottom: 2px;
    }
}
@media screen and (max-width: 378px) {
    .arrowpoint{
        margin-left: 30px;
        margin-bottom: 2px;
    }
    .arrowpoint1{
        margin-left: 20px;
        margin-bottom: 2px;
    }
}
