$line-color : black;
$line-width : 3px;
$navbg : white;
$textcolor : black;
$fontsize : 30px;

.Navbar {
    .mycol{
        width : 18%;
    }
    .mycolspecial{
        width : 28%;
    }
    text-align: center;
    overflow-x: hidden !important;
    font-family: 'Poppins';
    background-color: $navbg;
    position: fixed;
    top: 3vh;
    right: 4vw;
    width: 520px;
    height: 50px;
    border: $line-width solid $line-color;
    box-shadow: 1px 7px 32px 4px rgba(0, 0, 0, 0.3);
    // rgba(187,187,187,1)
    z-index: 60;

    .smallscreens {
        display: none;
    }

    .largescreens {
        display: block;
    }

    .col-2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbutton {
        text-decoration: none !important;
        color: $textcolor;
        font-size: 18px;
        // margin-top: 9px !important;
    }

    .navrow {
        padding-top: 6px;
        padding-left: 8px;
        padding-right: 10px;
    }

    @media(max-width: 728px) {
        width: 80px;
        height: 45px;
        .smallscreens {
            display: block;
        }

        .largescreens {
            display: none;
        }
    }

    .smallscreens {
        .navbutton {
            margin: 0;
        }
    }

    @media(min-width : 1300px) {
        width: 520px;
    }
}

.NavModal {
    .sociallink{
        color : black;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-content {
        padding: 0;
    }

    .modBody {
        padding-top: 0;
        border: 3px solid black;
        color: black;
        padding: 0;

        .buttoncol,
        .buttonrow,
        .row {
            padding: 0;
            margin: 0;
        }

        .topbutton {
            padding: 10px 5px;
            text-align: center;
            font-size: $fontsize;
            font-weight: 600;
            margin: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;

        }

        .br {
            background-color: black;
            color: white;
        }

        .br {
            border-right: 1.5px solid black;
        }

        .bl {
            border-left: 1.5px solid black;
        }

        .bt {
            border-top: 3px solid black;
        }

        .option {
            padding-left: 20px;
            border-bottom: 3px solid black;
            font-size: $fontsize;
            font-weight: 600;
        }

        .space {
            height: 30vh;
        }

        .touch {
            font-size: 40px;
            font-weight: 600;
            padding: 0 0 10px 15px;
        }

        .white {
            text-decoration: none;
            color: black;
        }

        .topbutton:hover,
        .topbutton:active,
        .option:hover,
        .option:active {
            background-color: black;

            .white {
                color: white;
            }
        }

        .col {
            text-align: center;
        }

        .icon {
            height: 9vmin;
            width: auto;
            margin-bottom: 3vh;
        }

        .triangle {
            height: 30px;
            width: auto;
            margin: auto;
            margin-left: 20px;
        }
    }
}